:root{
    --grey: #262626;
    --lightgrey: #404040;
    --red: #da251a;
    --back: black;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    margin: 0;
    height: 300vh;
    background-color: var(--grey);
    background-image: url(/img/Mixer.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    backdrop-filter: blur(0px);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
#header{
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    height: 3rem;
    padding-top: 1rem;
    position: sticky;
    top: 0;
}
#navbar{
    width: 100%;
    display: flex;
    height: 3rem;
}
.navlink{
    width: 20%;
}
.reiter{
    text-align: center;
    height: 2.5rem;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.2s ease-in-out;
}
.reiter:hover{
    color: var(--red);
    border-left: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
}
.active{
    color: var(--red);
}
@media (max-width: 700px) {
    #navbar{
        flex-direction: column;
        width: 100%;
    }
    .navlink{
        width: 100%;
    }
    .reiter{
        width: inherit;
        margin-bottom: 0.5rem;
    }
}