:root{
    --m-background: #ffffff;
    --m-fontcolor: #000000;
    --m-boxcolor: #404040;
    --grey: #262626;
    --red: #da251a;
    --back: black;
}
[data-theme="dark"]{
    --m-background: #262626;
    --m-fontcolor: #ffffff;
    --m-boxcolor: #afafaf;
    --lightgrey: #acacac;
    --red: #da251a;
}
:visited{
    color: #da251a;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--m-background);
    background-image: url(/img/Mixer3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    backdrop-filter: blur(0px);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    user-select: none;
}
.reiter a{
    color: var(--m-boxcolor);
}
img{
    width: 100%;
    height: auto;
}
#header{
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1rem;
    position: sticky;
    top: 0;
}
#navbar{
    width: 100%;
    display: flex;
    height: 3rem;
}
.navlink{
    width: 20%;
}
.reiter{
    text-align: center;
    height: 2.5rem;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--m-fontcolor);
    transition: all 0.2s ease-in-out;
}
.reiter:hover{
    color: var(--red);
    border-left: 1px solid var(--m-boxcolor);
    border-right: 1px solid var(--m-boxcolor);
}
.active{
    color: var(--red);
}
#toggle-switch{
    user-select: none;
    font-size: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-sw{
    height: 30px;
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#fordark{
    display: block;
}
#forlight{
    display: none;
}
#main{
    margin-top: 1rem;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem;
}
#content{
    width: 100%;
    background: transparent;
    color: var(--m-fontcolor);
    margin-bottom: 10rem;
}
#footer{
    height: 3rem;
    width: 100%;
    background-color: var(--grey);
    margin-top: 5rem;
    color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#footer a{
    margin-left: 0.5rem;
    color: white;
}
#footer a:hover{
    color: var(--red);
}
.table{
    margin-top: 2rem;
}
table{
    width: 100%;
    background-color: var(--m-boxcolor);
}
td{
    margin: 0;
    background-color: var(--m-background);
    color: var(--m-fontcolor);
    padding-bottom: 2rem;
}
.headtd{
    padding-left: 1rem;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
}
.date{
    width: 30%;
    padding-left: 1.5rem;
    font-weight: bold;
}
.content{
    width: 70%;
    padding-left: 1rem;
}
.icon{
    width: 8rem;
}
.maillink{
    width: auto;
    padding-left: 1.5rem;
}
.maillink,
.icon{
    padding-bottom: 0;
}
li{
    margin-left: 1.5rem;
}
abbr{
    text-decoration: underline;
}
.red:hover{
    color: var(--red);
}
@media (max-width: 1000px) {
    #header{
        position: unset;
        height: 11rem;
        border-bottom: 1px solid var(--lightgrey);
    }
    #navbar{
        flex-direction: column;
        width: 100%;
    }
    .navlink{
        width: 100%;
    }
    .reiter{
        width: inherit;
        margin-bottom: 0.5rem;
        height: max-content;
    }
    .date{
        padding-left: 5px;
    }
    .maillink{
        padding-left: 0.5rem;
    }
}