:root{
    --m-background: #ffffff;
    --m-fontcolor: #000000;
    --m-boxcolor: #404040;
    --grey: #262626;
    --red: #da251a;
    --lightred: rgb(243, 106, 106);
    --back: black;
    --background: url(/img/Mixer3.jpg);
    --blue: #0059ff;
    --m-tabs: #545454;
}
[data-theme="dark"]{
    --m-background: #262626;
    --m-fontcolor: #ffffff;
    --m-boxcolor: #afafaf;
    --red: #da251a;
    --background: url(/img/Mixer.jpg);
    --blue: #00a6ff;
}
:visited{
    color: #da251a;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--m-background);
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    backdrop-filter: blur(0px);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    user-select: none;
}
img{
    width: 100%;
    height: auto;
}
#header{
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--m-background);
}
#navbar{
    width: 100%;
    display: flex;
    height: 3rem;
}
.navlink{
    width: 20%;
}
.reiter{
    text-align: center;
    height: 2.5rem;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--m-fontcolor);
    transition: all 0.2s ease-in-out;
}
.reiter:hover{
    color: var(--red);
    border-left: 1px solid var(--m-boxcolor);
    border-right: 1px solid var(--m-boxcolor);
}
.navlink .active{
    color: var(--red);
    filter: drop-shadow(var(--red) 0px 0px 5px);
}
#toggle-switch{
    user-select: none;
    font-size: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    color: var(--m-fontcolor);
}
input{
    accent-color: var(--red);
    width: 1.2rem;
    height: 1.2rem;
}
input:hover{
    transform: translateY(-0.2rem);
    transition: all 0.3s ease-in-out;
}
#main{
    margin-top: 1rem;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem;
}
#content{
    width: 100%;
    background: transparent;
    color: var(--m-fontcolor);
    margin-bottom: 10rem;
}
#footer{
    height: 3rem;
    width: 100%;
    background-color: var(--grey);
    margin-top: 5rem;
    color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 3;
}
#footer a{
    margin-left: 0.5rem;
    color: white;
}
#footer a:hover{
    color: var(--red);
}
.table{
    margin-top: 2rem;
}
table{
    width: 100%;
    background-color: var(--m-boxcolor);
}
.noback{
    background: transparent;
}
td{
    margin: 0;
    background-color: var(--m-background);
    color: var(--m-fontcolor);
    padding-bottom: 2rem;
}
.headtd{
    padding-left: 1rem;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem;
}
.date{
    width: 30%;
    padding-left: 1.5rem;
    font-weight: bold;
}
.content{
    width: 70%;
    padding-left: 1rem;
    padding-right: 0.5rem;
    animation: fade 1s ease-in;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.check{
    height: auto;
    text-align: center;
    align-items: center;
    font-size: 200%;
}
.icon{
    width: 8rem;
}
.icon img{
    min-height: 1rem;
    min-width: 1rem;
}
.maillink{
    padding-left: 1.5rem;
}
.maillink a{
    color: var(--blue);
    font-size: 180%;
    transition: all .15s;
}
.maillink a:hover{
    text-decoration: underline;
    color: #0059ff;
}
.maillink,
.icon{
    padding-bottom: 0;
}
li{
    margin-left: 1.5rem;
}
abbr{
    text-decoration: underline;
}
.red:hover{
    color: var(--red);
}
.error{
    margin-top: 2rem;
    height: 50vh;
    background-color: var(--lightred);
    color: var(--red);
    border: 4px solid var(--red);
    border-radius: 15px;
    font-size: 250%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.row,
.row a{
    margin-top: 2rem;
    display: flex;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    animation: fade 1s ease-in;
}
.row .bild{
    width: auto;
    overflow: hidden;
}
.row .bild:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    height: auto;
}
.row .bild:hover .product-hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.row .text{
    width: 40%;
    margin-left: 2rem;
    padding-top: 5rem;
    color: var(--m-fontcolor);
}
#grid{
    margin-top: 5rem;
    width: auto;
    height: auto;
    max-width: 45rem;
}
.window-row{
    display: flex;
    width: auto;
    margin: 0;
}
.window-row a{
    margin: 0.5rem;
}
a img:hover{
    filter: drop-shadow(var(--m-fontcolor) 10px 10px 10px);
    transform: translateY(-.5rem);
    transition: all 0.3s ease-in-out;
}
#buttons{
    display: flex;
}
.tablink {
    background-color: var(--m-tabs);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    margin-top: 2rem;
}
.activetab{
    filter: drop-shadow(0px);
}
.tablink:hover {
    background-color: #444444;
}
#for1{
    background-color: #323232;
    text-decoration: underline;
}
#tab1{
    display: block;
}
#tab2{
    display:none;
}
.product-row{
    display: flex;
}
.product-image{
    width: 50%;
    overflow: hidden;
}
.product-image:hover img{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.product-text{
    padding-top: 2rem;
    padding-left: 0.5rem;
    font-size: 20px;
}
.pro-li{
    list-style-type:none;
    margin-bottom: 0.5rem;
}
.pro-li::before{
    content: "→";
    margin-right: 0.5rem;
}
.info-link{
    margin-top: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    min-height: 2rem;
    padding: 3px;
    background-color: var(--lightred);
    color: var(--m-fontcolor);
    border: 2.5px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.heading{
    margin-top: 5rem;
}
.slideshow-container{
    margin-top: 5rem;
    background-color: #ffffff20;
    border-radius: 15px;
}
.entfällt{
    font-weight: bold;
    color: #da251a;
    margin-top: 2.5rem;
}
.video{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    animation: fade 1s ease-in;
}
#newcontent:after{
    opacity: 1;
    content: "1";
    position: absolute;
    margin-left: -2rem;
    font-size: 150%;
    background-color: orange;
    color: white;
    width: 2.2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.2rem;
}
#newcontent:hover:after{
    transform: translateY(-.5rem);
    transition: all 0.3s ease-in-out;    
}
/*----------------------------*/
@media (max-width: 1200px) {
    #header{
        position: unset;
        height: 11rem;
        border-bottom: 1px solid var(--lightgrey);
    }
    #navbar{
        flex-direction: column;
        width: 100%;
    }
    .navlink{
        width: 100%;
    }
    .reiter{
        width: inherit;
        margin-bottom: 0.5rem;
        height: max-content;
    }
    .date{
        padding-left: 5px;
    }
    .row,
    .product-row,
    .row a{
        display: block;
        width: auto;
        margin: 0;
        margin-top: 3.5rem;
    }
    .row .text,
    .product-image,
    .product-text{
        margin-left: 0;
        width: 100%;
    }
    .row .text{
        padding-top: 0rem;
    }
    #grid{
        margin-top: 2rem;
    }
    .slideshow-container{
        background: none;
    }
    .video{
        margin-top: -5rem;
        width: 90%;
        margin-bottom: 5rem;
    }
    iframe{
        height: 10rem;
    }
    #newcontent:after{
        width: 1.7rem;
        height: 1.5rem;
        font-size: 120%;
        margin-left: -1.7rem;
    }
}
@media (max-width: 400px){
    table{
        width: 17rem;
        margin-left: auto;
        margin-right: auto;
    }
}